
/* Pré sets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    Cores teste
    ciano escuro - #5E918A
    aqua claro - #85DED1
    bege claro - #DEB47A
    lilas escuro - #363E8F
    lilas claro - #6F78DE
*/

body {
    background-color: none;
    height: 3150px;
    font-family: Arial;
    
}

img {
    display: block;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 10;
    height: 100px;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 25px;
    font-weight: 800;
}

.header_menu, a {
    list-style: none;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
}

.header_menu ul li :hover {
    color: #DEB57A;
}

/* Introdução */

.container, .btn {
    text-align: center;
}

.introducao {
    width: 100%;
    height: 500px;
    background: url(../images/begin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    margin-top: 100px;
    border-bottom: solid 6px black;
}

.introducao h1 {
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding-top: 110px;
    line-height: 80px;
    letter-spacing: 2px;
}

.quote {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
}

.quote h6::before, h6::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 9px auto;
}

h6 {
    font-size: 16px;
    font-weight: normal;
}

.texto cite {
    font-style: normal;
    font-size: 19px;
    line-height: 60px;
    letter-spacing: 1px;
}

.container .btn {
    line-height: 110px;
    border: solid 5px #000000;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
}

.btn:hover {
    color: #2032f2;
    border-color: #2032f2;
    font-weight: 800;
}

/* Produtos */

.produtos {
    padding-top: 50px;
    width: 900px;
    height: 550px;
    background-color: none;
}

.subtitulo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 15px auto;
}

.produtos_lista li {
    background-color: #000000;
    height: 300px;
    padding: 2px;
}

.produtos_lista li h3 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 16px;
    color: white;
}

.produtos_lista li p {
    color: white;
    padding: 5px;
    letter-spacing: 0.5px;
    line-height: 15px;
}

/*produtos-icones*/
.armario {
    background-image: url(/images/movel\(12\).jpeg);
    padding: 20px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.balcao {
    background-image: url(/images/movel\(16\).jpeg);
    padding: 20px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.guarda-roupa {
    background-image: url(/images/movel\(9\).jpeg);
    padding: 20px;
    height: 200px;
    background-position-y: -90px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*fim-produtos-icones*/

.call {
    padding-top: 40px;
    clear: both;
}

.call p {
    color: white;
    text-transform: uppercase;
}

ul li {
    list-style: none;
}

/* Portfolio */

.portfolio {
    background-color: #522f79;
    height: 1070px;
}

.portfolio .container {
    margin-top: 50px;
    padding-top: 50px;
    background-color: none;
    align-items: center;
}

.portfolio .container h2 {
    color: #000000;
}

.container .grid-8, .grid-16 {
    padding: 5px;
} 

.container .grid-8 {
    background-image: url(/images/movel\(12\).jpeg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.port .btn {
    line-height: 100px;
    border: solid 5px #fec63e;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #fec63e;
    letter-spacing: 2px;
    font-weight: 600;
}

.port .btn:hover {
    color: #ffffff;
    border-color: #ffffff;
    font-weight: 800;
}

.portfolio .container ul li:last-child {
    padding-top: 15px;
}

/* Qualidade */

.qualidade li {
    display: block;
}

.qualidade .subtitulo {
    padding-top: 50px;
    padding-bottom: 40px;
}

.qualidade .qualidade-lista li p {
    color: #ffffff;
}

.qualidade .qualidade-lista li h2 {
    font-size: 16px;
    padding-bottom: 10px;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background-image: url(../images/lines.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 200px;
    right: 147px;
    z-index: -1;
}

.qualidade-lista li {
    padding: 30px;
    text-align: center;
}

.call-quali {
    padding: 0px;
    margin-top: 280px;
    height: 50px;
    background-color: none;
    text-align: bottom;
}

.call-quali .btn:hover {
    color: #ffffff;
} 

.call-quali p {
    text-transform: uppercase;
    color: #ffffff;
}

.call-quali .btn {
    position: relative;
    top: -20px;
}

/* Footer */

.footer {
    background-color: burlywood;
    
}

.quebra {
    margin-top: 80px;
    background: url(../images/begin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -190px;
    height: 200px;
    width: 100%;
}

.footer {
    height: 150px;
}

.quebra .quote {
    padding-top: 30px;
    max-width: 400px;
}

.footer .grid-4 {
    background-color: #ff652c;
    height: 150px;
    padding-top: 10px;
}

.footer .grid-8 {
    background-color: #ff652c;
    height: 150px;
    text-align: left;
}

.grid-8 .subtitulo {
    padding-top: 10px;
}

.grid-8 .subtitulo::after {
    width: 60px;
    height: 4px;
}

.grid-8 p {
    max-width: 350px;
    line-height: 15px;
}