
/* Pré sets */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    Cores Testes

    ciano escuro - #5E918A
    aqua claro - #85DED1
    bege claro - #DEB47A
    lilas escuro - #363E8F
    lilas claro - #6F78DE
*/

body {
    background-color: none;
    height: 3160px;
    font-family: Arial;
}

img {
    display: block;
    max-width: 100%;
}



/* */
/* Começa Sessão Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    z-index: 10;
    height: 100px;
}

.header_menu {
    text-align: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 25px;
    font-weight: 800;
}

.header_menu, a {
    list-style: none;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
}

.header_menu ul li :hover {
    color: #2e3ff9;
}
/* Acaba Sessão Header */
/* */



/* */
/* Começa Sessão Introdução */
.container, .btn {
    text-align: center;
}

.introducao {
    width: 100%;
    height: 500px;
    background: url(../images/begin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -30px;
    margin-top: 100px;
    border-bottom: solid 5px black;
}

.introducao h1 {
    font-size: 40px;
    color: #000000;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding-top: 110px;
    line-height: 80px;
    letter-spacing: 2px;
}

.quote {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
}

.quote h6::before, h6::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    margin: 9px auto;
}

h6 {
    font-size: 16px;
    font-weight: normal;
}

.texto cite {
    font-style: normal;
    font-size: 19px;
    line-height: 60px;
    letter-spacing: 1px;
}

.container .btn {
    line-height: 110px;
    border: solid 5px #000000;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
}

.btn:hover {
    color: #2032f2;
    border-color: #2032f2;
    font-weight: 800;
}
/* Acaba Sessão Introdução */
/* */



/* */
/* Começa Sessão Moveis */
.moveis {
    padding-top: 50px;
    width: 900px;
    height: 500px;
    background-color: none;
}

.subtitulo {
    font-size: 24px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000;
    margin: 15px auto;
}

.moveis_lista li {
    background-color: #000000;
    height: 300px;
    padding: 0px;
}

.moveis_lista li h3 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px;
    font-size: 16px;
    color: white;
}

.moveis_lista li p {
    color: white;
    padding: 5px;
    letter-spacing: 0.5px;
    line-height: 15px;
}

/* Três exemplos moveis */
.moveis-icone .armario {
    background-image: none;
    max-width: 300px;
    padding: none;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.balcao {
    background-image: none;
    padding: none;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.guarda-roupa {
    background-image: none;
    padding: none;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
/* Fim exemplos moveis */

.call {
    padding-top: 40px;
    clear: both;
}

.call p {
    color: white;
    text-transform: uppercase;
}

ul li {
    list-style: none;
}
/* Acaba Sessão Moveis */
/* */



/* */
/* Começa Sessão Projetos */
.projetos {
    background-color: #ffffff;
    height: 1250px;
    border-top: solid 5px #00000041;
    border-bottom: solid 5px #00000041;
}

.projetos .container {
    margin-top: 50px;
    padding-top: 50px;
    background-color: none;
    align-items: center;
}

.projetos .container h2 {
    color: #000000;
}

.container .grid-8, .grid-16 {
    padding: 5px;
} 

.projetos .um {
    background-image: url(../images/movel\(23\).jpeg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projetos .dois {
    height: 400px;
    background-image: url(../images/movel\(6\).jpeg);
    background-size: cover;
    background-position: center;
}

.projetos .container .tres {
    height: 400px;
    background-image: url(../images/movel\(24\).jpeg);
    background-size: cover;
    margin-top: 20px;
}

.port .btn {
    line-height: 100px;
    border: solid 5px #000000;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
}

.port .btn:hover {
    color: #2032f2;
    border-color: #2032f2;
    font-weight: 800;
}

.projetos .container ul li:last-child {
    padding-top: 15px;
}

.port p {
    padding-top: 40px;
    color: black;
}
/* Acaba Sessão Projetos */
/* */



/* */
/* Começa Sessão Qualidade */
.qualidade li {
    display: block;
}

.qualidade .subtitulo {
    padding-top: 50px;
    padding-bottom: 40px;
}

.qualidade .qualidade-lista li p {
    color: #000000;
}

.qualidade .qualidade-lista li h2 {
    font-size: 16px;
    padding-bottom: 10px;
}

.qualidade img {
    margin: 0 auto;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background-image: url(../images/lines.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 200px;
    right: 147px;
    z-index: -1;
}

.qualidade-lista li {
    padding: 30px;
    text-align: center;
}

.call-quali {
    padding: 0px;
    margin-top: 280px;
    height: 50px;
    background-color: none;
    text-align: bottom;
}

.call-quali .btn:hover {
    color: #2032f2;
} 

.call-quali p {
    text-transform: uppercase;
    color: black;
}

.call-quali .btn {
    position: relative;
    top: -20px;
}
/* Acaba Sessão Qualidade */
/* */



/* */
/* Começa Sessão Footer */
.footer {
    background-color: #ffffff;
    border-bottom: solid 30px black;
}

.quebra {
    margin-top: 80px;
    background: url(../images/begin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -190px;
    height: 200px;
    width: 100%;
    border-top: solid 4px black;
    border-bottom: solid 4px black;

}

.footer {
    height: 180px;
}

.quebra .quote {
    padding-top: 30px;
    max-width: 400px;
}

.footer .oito {
    background-color: #ffffff;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    border-bottom: solid 10px #000000;
    float: none;

}

.grid-8 .subtitulo {
    padding-top: 10px;
}

.grid-8 .subtitulo::after {
    width: 60px;
    height: 4px;
}

.grid-8 p {
    max-width: 350px;
    line-height: 15px;
    padding-bottom: 20px;
    margin: auto;
}

.footer .oito {
    border-bottom: solid 5px #2e3ff9;
}
/* Acaba Sessão Footer */
/* */



/* */
.after-footer {
    height: 100px;
    width: 100%;
    padding-top: 30px;

    background-color: #000000;

    border-bottom: solid 10px #2e3ff9;
    
    display: flex;
}
/* */



/* */
.span {
    height: 20px;
    width: 30%;
    margin-top: 60px;

    color: white;
    font-size: 16px;
    font-family: Arial;

    margin: 0 auto;
    position: relative;
    text-align: center;
}
/* */



/* */
/* Inicio Design Responsivo */
/* */



/* */
/* Tamanho Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {

    .container {
        width: 768px;
    }

    .grid-1 {width: 28px;}
    .grid-2 {width: 76px;}
    .grid-3 {width: 124px;}
    .grid-4 {width: 172px;}
    .grid-5 {width: 220px;}
    .grid-6 {width: 268px;}
    .grid-7 {width: 316px;}
    .grid-8 {width: 364px;}
    .grid-9 {width: 412px;}
    .grid-10 {width: 460px;}
    .grid-11 {width: 508px;}
    .grid-12 {width: 556px;}
    .grid-13 {width: 604px;}
    .grid-14 {width: 652px;}
    .grid-15 {width: 700px;}
    .grid-16 {width: 748px;}
    .grid-1-3 {width: 236px;}


    .header {
        height: 125px;
    }

    .introducao {
        height: 450px;
        background-size: cover;
        background-position-y: -20px;
    }

    .qualidade::after {
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
    }

    .qualidade-lista li {
        padding: 10px;
        margin: 10px;
    }

    .call-quali p {
        text-transform: uppercase;
        color: black;
        padding-top: 50px;
    }

    .qualidade {
        height: 600px;
    }
}
/* Fim Tamanho Tablet */
/* */



/* */
/* Tamanho Smartphone */
@media only screen and (max-width: 767px) {

    .container {
        width: 300px;
    }

    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
        
        width: 300px;
        margin: 0px 0px 10px 0px;
    
    }

    .header {
        height: 250px;
        position: relative;
    }

    .header img {
        margin: 0 auto;
    }

    .header_menu {
        text-align: center;
    }
    
    .header_menu ul li {
        display: inline-block;
        margin-left: 20px;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 25px;
        font-weight: 800;
    }
    
    .header_menu, a {
        list-style: none;
        text-decoration: none;
        padding: 10px 0px 10px 0px;
        color: #ffffff;
    }

    .introducao {
        margin-top: 0px;
        height: 650px;
        background-position: center;
    }

    .moveis {
        height: 1100px;
        margin-bottom: 10px;
    }

    .projetos {
        margin-top: 10px;
        padding-top: 5px;
        height: 1680px;
    }

    .qualidade {
        height: 850px;
    }

    .qualidade::after {
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
    }

    .qualidade-lista li {
        padding: 20px;
        margin: 0px;
    }
    
    .call-quali p {
        text-transform: uppercase;
        color: black;
        padding-top: 320px;
    }

    .quebra {
        margin-top: 80px;
        background: url(../images/begin.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -130px;
        height: 230px;
        width: 100%;
        border-top: solid 4px black;
        border-bottom: solid 4px black;
    
    }

}
/* Fim tamanho Smartphone */
/* */



/* */
/* Ajustes Adicionais */
@media only screen and (max-width: 600px) {

    .call-quali p {
        text-transform: uppercase;
        color: black;
        padding-top: 120px;
    }

}
/* Fim Ajustes */
/* */
